{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Puja
{% endblock %}

{% block content %}





    <p>
        El valor estimado del objeto es <strong>{{ player.item_value_estimate }}</strong>.
        Esta estimación <strong>puede desviarse</strong> del valor real del objeto en como máximo en <strong>{{ player.item_value_estimate }}</strong>.
    </p>

    <p>
        Por favor, haga una puja por el objeto. La cantidad debe estar entre {{ Constants.min_allowable_bid }} y {{ Constants.max_allowable_bid }}, incluído.
    </p>

    {% formfield player.bid_amount with label="Puja" %}

    {% next_button %}


{% endblock %}
