{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Introducción
{% endblock %}

{% block content %}

    <p>
        Ha sido emparejado al azar con otros jugador de forma anónima. Todos los jugadores tienen las mismas instrucciones
    </p>

    <p>
        El juego consiste en apostar en una subasta por un objeto.El valor subjetivo de un objeto es diferente para cada participante y privado.
        Antes de apostar todos los jugadores verán el valor real del objeto, igual para todos los jugadores, y después se procederá
        a la subasta del objeto.
    </p>

    <p>
        Basandote en el valor estimado, cada jugador declarará una sola apuesta dentro de un rango. Todas las apuestas son simultáneas
        y anónimas.
    </p>

    <p>
        El postor que pague una mayor cantidad recibirá el valor actual del objeto <strong>menos su propia apuesta</strong>.
        Si el ganador apuesta una cantidad por encima del precio real del objeto, su beneficio será 0.
        En caso de que la apuesta empate con la de otros jugadores, el ganador será elegido al azar entre los empatados.
        Si no gana la subasta, el pago final o beneficio es 0.
    </p>

    {% next_button %}

{% endblock %}
