{% extends "global/Instructions.html" %}
{% load otree_tags %}

{% block instructions %}
<p>
    Ha sido emparejado de forma anónima y aleatoria con otros 2 participantes. Cada uno de los 3 participantes decidirá simultáneamente
    y de forma anónima si quiere ser voluntario o no. Si alguien se declara voluntario todos los participantes participantes obtendrán 100 puntos.
    Sin embargo, ofrecerse voluntario tiene un coste de 40 puntos. Si nadie se declara voluntario, los 3 participantes no obtendrán ningún punto.
</p>
{% endblock %}
