{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Preguntas
{% endblock %}

{% block content %}

    <p>
        Por favor responda a las siguientes preguntas.
    </p>
    {% formfield player.crt_bat with label="Un bate y una pelota cuestan 22 euros en total. El bate cuesta 20 euros más que la pelota, ¿Cuánto cuesta la pelota?" %}
    {% formfield player.crt_widget with label="Si 5 máquinas hacen 5 artículos en 5 minutos, ¿cuánto tiempo dedicarán 100 máquinas en hacer 100 artículos?" %}
    {% formfield player.crt_lake with label="En un lago hay una superficie cubierta de nenúfares y cada día esa extensión dobla su tamaño. Si tarda 48 días en cubrir el lago, ¿cuánto tarda en cubrir la mitad del lago?" %}

    {% next_button %}

{% endblock %}
