{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Preguntas
{% endblock %}

{% block content %}

    <p>
        Por favor contesta a las siguientes preguntas.
    </p>

    {% formfield player.q_country %}

    <p>
        "España" se puede buscar como <strong>Spain</strong> en la lista.
    </p>

    {% formfield player.q_age %}
    {% formfield player.q_gender %}

    {% next_button %}

{% endblock %}

{% block content_at_bottom_of_body %}

    <script type="text/javascript">
        function sort(a, b) {
            return (a.innerHTML > b.innerHTML) ? 1 : -1;
        }
        $('#id_q_country option').sort(sort).appendTo('#id_q_country');
    </script>

{% endblock %}
