<div class="box effect7">
    <h4>Instrucciones</h4>
    <p>
        En este estudio, vas a ser agrupado anónimamente y al azar con {{ Constants.players_per_group }} participantes.
        A cada grupo de participantes se le va a dar {{ Constants.endowment }}. Cada grupo tiene la oportunidad de realizar
        un proyecto conjunto. Cada participante en el grupo decide cuánto va a contribuir al proyecto. La contribución puede
        ser cualquier número entero de 0 a {{ Constants.endowment }}.
    </p>
    <p>
        Las ganancias del proyecto son calculadas de la siguiente forma: la contribución de los {{ Constants.players_per_group }}
        participantes se suman para hallar la contribución total. La contribución total es multiplicada por {{ Constants.efficiency_factor }}
        y la cantidad resultante es la ganancia del proyecto. La ganancia es repartida entre los {{ Constants.players_per_group }}
        participantes de forma equitativa. Tus ganancias serán tu parte de la ganancia del proyecto más la cantidad con la que has
        decidido no contribuir al proyecto.
    </p>
    <p>
        Para su comodidad, las instrucciones continuarán visibles en todas las etapas del experimento.
    </p>
</div>
