{% extends "global/Instructions.html" %}

{% block instructions %}
<p>
    En este experimento va a ser agrupado al azar y de forma anónima con otros 2 participantes. Uno de ustedes va a ser asignado aleatoriamente para representar el rol de <strong>comprador</strong>, y los dos participantes restantes serán <strong>vendedores</strong>. Los vendedores y el comprador intercambiarán durante 3 periodos decisiones de compra-venta. Antes de realizar ninguna decisión se le informará de su rol, que se mantendrá durante los 3 periodos.
</p>
<p>
    Al comienzo de cada periodo cada uno de los participantes recibe 50 puntos. Los vendedores tendrán que decidir de forma privada el <strong>price</strong> (de 0 a 50) y un <strong>grado de calidad</strong> de sus productos. El comprador tendrá la oportunidad de comprar un producto de los vendedores a un precio listado. Antes de comprar el comprador no sabe el grado de calidad de los productos. Después de la compra, verá ver la calidad de lo que haya comprado. La calidad de los productos puede ser <strong>alta, media o baja</strong>. La calidad alta es más cara de producir por el vendedor pero el comprador lo valora más. La siguiente tabla muestra los costes de producción de los diferentes grados de calidad, así como el beneficio para el comprador:
</p>
<table class=table>
    <thead>
        <tr>
            <th>Grado de calidad</th><th>Alta</th><th>Media</th><th>Baja</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <th>Coste de producción de los vendedores</th>
        <td>30</td>
        <td>20</td>
        <td>10</td>
    </tr>
    <tr>
        <th>Valoración por los compradores</th>
        <td>35</td>
        <td>25</td>
        <td>15</td>
    </tr>
    </tbody>
</table>
<p>
    El comprador puede comprar 1 unidad del producto durante por periodo de tiempo y cada vendedor puede producir hasta 1 unidad por periodo.<strong>Las unidades que no se vendan no se producen</strong> , por lo que si no se vende la unidad no tiene coste.
The buyer can buy up to 1 unit of the commodity during a period and each seller can produce up to 1 unit in a period. <strong>Unsold units are not produced and hence incur no cost.</strong> 
</p>
<p>
    El beneficio por periodo del comprador viene dado por:<br />
<strong>
    Beneficio comprador = 50 + "Valor del grado de calidad" - "Precio pagado al vendedor"
</strong></p>
<p>
    El beneficio por periodo del vendedor viene dado por:<br />
<strong>
    Beneficio vendedor = 50 + "Precio de venta" - "Coste del grado de calidad"
</strong></p>
<p>
    Para determinar la compensación por el experimento se seleccionará un periodo al azar y los beneficios obtenidos en ese periodo serán los beneficios del experimento. Además de 10 puntos por participar.
</p>
{% endblock %}
