{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Resumen
{% endblock %}

{% block content %}

    <p class="text-success">
        La siguiente tabla muestra algunos datos sobre las transcripciones que has introducido
        En un experimento real esta tabla normalmente no se muestra a los participantes.
        The table below shows some statistics for the transcriptions you have entered.
        <br>
        La distancia de <a href="https://es.wikipedia.org/wiki/Distancia_de_Levenshtein">Levenshtein</a> se puede ver en la última columna.
        Dese cuenta que la diferencia entre la longitud del texto dado y la longitud del texto introducido es un límite de la distancia
        de Levenshtein.
    </p>

    <div class="panel panel-success">

        <table class="table">

            <div class="panel-heading">
                Estadísticas de la transcripción
            </div>

            <tr>
                <th>Transcripción</th>
                <th>Longitud del texto dado</th>
                <th>Longitud del texto introducido</th>
                <th>Distancia de Levenshtein</th>
            </tr>
            <tr>
                <td>1</td>
                <td>{{ transcription_length_1 }}</td>
                <td>{{ transcription_entered_1}}</td>
                <td>{{ player.distance_1 }}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>{{ transcription_length_2 }}</td>
                <td>{{ transcription_entered_2}}</td>
                <td>{{ player.distance_2 }}</td>
            </tr>

        </table>

    </div>

{% endblock %}
