{% extends "global/Base.html" %}
{% load otree_tags %}

{% block title %}
Solución a la Pregunta de Entendimiento {{ num_q }} de {{ total_q }}
{% endblock %}

{% block content %}
{% ifequal player.training_amount_mine 0 %}
<p class="text-success">
{{player.training_amount_mine}} es correcto, no recibiría puntos.
</p>
{% else %}
<p class="text-danger">
{{player.training_amount_mine}} es incorrecto.
</p>
{% endifequal %}
{% ifequal player.training_amount_other 0 %}
<p class="text-success">
{{player.training_amount_other}} es correcto, no recibiría puntos.
</p>
{% else %}
<p class="text-danger">
{{player.training_amount_other}} es incorrecto.
</p>
{% endifequal %}
<p>
    Suponga que ha demandado 55 puntos del total, y el otro participante ha demandado 80, ¿Cuál sería el reparto para usted y para el otro participante, respectivamente?
</p>
<p><strong>Solución: ambos recibiríais 0.</strong></p>
<p><strong>Explicación:</strong> La suma de las demandas es 55+80 = 135, que es mayor que el total de 100. Por lo que ninguno recibiría nada.
</p>
<p>
{% next_button %}
</p>
{% include instructions %}
{% endblock %}
