{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Solución a la Pregunta de Entendimiento {{ num_q }} de {{ total_q }}
{% endblock %}


{% block content %}
{% if player.training_answer_x == Constants.training_answer_x_correct %}
    <p class="text-success">
    Su respuesta {{player.training_answer_x}} para el participante A es corecta.
    </p>
{% else %}
    <p class="text-danger">
    Su respuesta {{player.training_answer_x}} para el participante A es incorecta.
    </p>
{% endif %}
{% if player.training_answer_y == Constants.training_answer_y_correct %}
    <p class="text-success">
    Su respuesta {{player.training_answer_y}} para el participante B es corecta.
    </p>
{% else %}
    <p class="text-danger">
    Su respuesta {{player.training_answer_y}} para el participante B es incorecta.
    </p>
{% endif %}
<p>
Suponga que el participante A envía 20 puntos al participante B. Recibiendo la cantidad enviada triplicada, el participante B envía
50 puntos al participante A ¿Cuántos puntos finalmente tendrían A y B?
</p>
<p>
<strong>Solución:</strong> El participante A tendría <strong>130 puntos</strong> y el B <strong>10 puntos</strong>.
</p>
<p>
<strong>Explicación:</strong> El participante A envía 20 puntos al B. El participante B recibe 20*3 = 60 puntos. Entonves el participante
    B envía 50 al A, quedándose con 10. Finalmente el participante A obtendría 100-20+50 = 130 puntos y el participante B obtendría 60-50 = 10.
</p>
<p>
{% next_button %}
</p>
{% include instructions %}
{% endblock %}
