{% extends "global/Instructions.html" %}

{% block instructions %}
<p>
    Ha sido emparejado con otro participante de forma aleatoria y anónima. Los dos participantes van a ser seleccionados aleatoriamente
    como "participante A" y "participante B". Aprenderá si usted es participante A o B antes de tomar cualquier decisión.
</p>
<p>
    Inicialmente, el participante A recibe 100 puntos, el participante B no recibe nada. el participante A puede enviar la cantidad que elija
    entre 0 y 100 puntos al participante B. Antes de que llegen esos puntos al jugador B serán triplicados. Una vez el jugador B recibe la
    cantidad triplicada, puede enviar la cantidad de puntos al participante A que elija, entre 0 y la cantidad de puntos que posea.
</p>
{% endblock %}
