{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Introducción
{% endblock %}

{% block content %}

    <p>
        Ha sido emparejado anónimamente y al azar con otro participante.
    </p>

    <p>
        Cada uno ha recibido la misma cantidad de puntos iniciales de {{ amount_allocated }}.
        Uno de ustedes será seleccionado al azar y tendrá la oportunidad de dar parte o el total de la cantidad al otro
        participante.
        Antes de que la cantidad elegida llegue al segundo participante, automáticamente será triplicada. Es decir, el
        segundo participante recibirá el triple de la cantidad enviada.
    </p>

    <p>
        El segundo participante tendrá una oportunidad similar de devolver parte de la cantidad de puntos obtenida al
        primer participante, que la recibirá integramente (sin ser multiplicada).
    </p>


    {% next_button %}

{% endblock %}
