{% extends "global/Instructions.html" %}

{% block instructions %}
<p>
    Ha sido emparejado al azar con otro participante de forma anónima. Uno de los dos participantes será denominado aleatoriamente como "Participante 1" y el restante será el "Participante 2". Antes de tomar ninguna decisión, se le mostrará su rol.
</p>
<p>
Hay en total una cantidad de <strong>{{Constants.allocated_amount}}</strong> a dividir entre ambos participantes. El Participante 1 decidirá cuántos puntos quiere quedarse. El resto de los puntos irán a parar al Participante 2.
</p>
{% endblock %}
