{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Solución a la Pregunta de Entendimiento {{ num_q }} de {{ total_q }}
{% endblock %}

{% block content %}



    {% if player.is_training_question_1_my_payoff_correct %}
        <p class="text-success">Su respuesta "{{player.training_question_1_my_payoff}}" es correcta.</p>
    {% else %}
        <p class="text-danger">Su respuesta "{{player.training_question_1_my_payoff}}" es incorrecta</p>
    {% endif %}


    <p>
        Suponga que la valoración del objeto era 60 y su apuesta de 60. Los otros 2 participantes apostaron 55 y 45,
        respectivamente, ¿Cuál es tu beneficio?
    </p>
    <p>
        <strong>Solución: {{Constants.training_question_1_my_payoff_correct}}.</strong>
    </p>
    <p>
        <strong>Explicación:</strong> Ha apostado la apuesta más alta de todas pero empatada con otra igual de alta (60, 60, 55), por lo que
        se resulve por azar tirando una moneda y resulta que gana la subasta del objeto. La segunda apuesta (no empatada) más alta ha sido de <strong>55</strong>.
        Como valora el objeto como <strong>65</strong>, su beneficio final es <strong>100+65-55={{Constants.training_question_1_my_payoff_correct}}</strong>.
    </p>

    {% next_button %}

    {% include 'vickrey_auction/Instructions.html' %}

{% endblock %}
