
<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }

    td, th{
        text-align: center;
    }


    .instructions {
        position: relative;
        text-shadow: 0 1px 0 #fff;
        line-height: 1.5;
        margin: 60px auto;
        background-color: #f5f5dc;
        background-image: linear-gradient(to bottom, #f5f5dc 0px, #fbfbeb 100%);
        padding-top: 5px;
        padding-bottom: 15px;
        margin-top: 20px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .instructions:before, .instructions:after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width:300px;
        background: rgba(0, 0, 0, 0.7);
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
        transform: rotate(-3deg);
    }

    .instructions:after {
        transform: rotate(3deg);
        right: 10px;
        left: auto;
    }
</style>

<div class="instructions well well-lg" style="">

    <h3 class="panel-sub-heading">
        Instrucciones
    </h3>

    <p>
        Ha sido emparejado de forma anónima y aleatoria con otros 2 participantes para participar en una subasta.
        Todos los participantes tienen 100 puntos de inicio.
    </p>
    <p>
        El valor de un objeto es diferente para cada persona. Antes de apostar verá el valor del objeto en su caso,
        generado de forma aleatoria y diferente al del resto de participantes.
    </p>
    <p>
        En la subasta, tendrá que hacer una apuesta o oferta privado por el objeto. La oferta puede ser de cualquier cantidad,
        desde 0 a 100 puntos, el máximo. El participante con la oferta más alta gana el objeto y <strong>paga la segunda puja más alta</strong>.
        En caso de empate se eligirá la oferta al azar entre los empatados y pagará la puja más alta que no sea la del
        empatado.
    </p>
    <p>
        El beneficio(en puntos) del ganador se calcula de la siguiente manera: <br/>
        <strong>
            Beneficio del ganador = 100 + "Valor privado del objeto para el ganador" - "Segunda apuesta más alta"
        </strong><br/>
    </p>
    <p>
        Para su comodidad, estas instrucciones continuarán visibles en todas las etapas del experimento.
    </p>

</div>
