{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Pregunta de Entendimiento {{ num_q }} de {{ total_q }}
{% endblock %}

{% block content %}

    {% if num_q == 1 %}
        <p>
            Se le ha dado 100 puntos para empezar. Suponga que el valor que tiene por el objeto es 65 y usted apuesta 60.
            Los otros 2 participantes apuestan 60 y 45, respectivamente. Como habéis empatado se tira una moneda al aire
            para elegir al ganador de la subasta al azar entre ambos y usted la ha ganado, ¿Cual es su beneficio finalmente?

        </p>
        <p>
            {% formfield player.training_question_1_my_payoff with label='Mi beneficio sería:' %}
        </p>
    {% endif %}

    {% next_button %}

    {% include 'vickrey_auction/Instructions.html' %}

{% endblock %}
