{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Solución a la Pregutna de Entendimiento {{ num_q }} de {{ total_q }}
{% endblock %}

{% block content %}



    {% if player.is_training_question_1_my_payoff_correct %}
        <p class="text-success">Su respuesta, {{player.training_question_1_my_payoff}} para usted, es correcta.</p>
    {% else %}
        <p class="text-danger">Su respuesta, {{player.training_question_1_my_payoff}} para usted, es incorrecta</p>
    {% endif %}
    {% if player.is_training_question_1_other_payoff_correct %}
        <p class="text-success">Tu respuesta, {{player.training_question_1_other_payoff}} para el otro participante, es correcta.</p>
    {% else %}
        <p class="text-danger">Tu respuesta, {{player.training_question_1_other_payoff}} para el otro participante, es incorrecta.</p>
    {% endif %}

    <p>
        Suponga el escenario donde usted decide cazar un ciervo mientras que el otro participante decide cazar una liebre, ¿Cuál es el beneficio para usted y el otro participante, respectivamente?
    </p>
    <p>
        <strong>Solución:</strong> Los pagos finales para usted serían
        <strong>0 puntos</strong> y para el otro participante
        <strong>100 puntos</strong>.
    </p>

    {% next_button %}

    {% include 'stag_hunt/Instructions.html' %}

{% endblock %}
