{% load staticfiles %}

<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }

    td, th{
        text-align: center;
    }

    .instructions {
        position: relative;
        text-shadow: 0 1px 0 #fff;
        line-height: 1.5;
        margin: 60px auto;
        background-color: #f5f5dc;
        background-image: linear-gradient(to bottom, #f5f5dc 0px, #fbfbeb 100%);
        padding-top: 5px;
        padding-bottom: 15px;
        margin-top: 20px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .instructions:before, .instructions:after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width:300px;
        background: rgba(0, 0, 0, 0.7);
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
        transform: rotate(-3deg);
    }

    .instructions:after {
        transform: rotate(3deg);
        right: 10px;
        left: auto;
    }



</style>

<link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructiones
    </h3>

    <p>
        Imagine el siguiente escenario:
    </p>
     <p>
         Vive en una sociedad cazadora-recolectora. Tú y otra persona (otro participante seleccionado al azar de forma anónima) sois cazadores.
         Tenéis que ir a cazar juntos la cena de hoy. Podéis elegir <strong>cooperar</strong> y cazar un <strong>ciervo</strong> entre los dos,
         o elegir cazar una <strong>liebre</strong>  que <strong>no necesita cooperación</strong>. El ciervo proporciona más alimento pero sólo puede
         ser cazado entre los dos, mientras que la liebre proporciona menos alimento pero puede ser cazada sin necesidad de cooperar.

    <p>
        Cada uno debe elegir de forma independiente y simultáneamente que decide cazar, el ciervo o una liebre. Tus beneficios se determinan según
        qué elijan los dos participantes, como se muestra en la tabla:
    </p>

    <p>
        <em>
            En cada celda, la cantidad (en puntos) en la izquiera es el beneficio para usted y a la derecha, el beneficio para el otro participante.
        </em>
    </p>

    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <table class="table table-hover">
                <tr>
                    <th colspan="2"></th>
                    <th colspan="2">El otro participante</th>
                </tr>
                <tr>
                    <th colspan="2"></th>
                    <th>Ciervo</th>
                    <th>Liebre</th>
                </tr>
                <tr>
                    <th rowspan="2"><span class="rotate90">Usted</span> </th>
                    <th>Ciervo</th>
                    <td>200, 200</td>
                    <td>0, 100</td>
                </tr>
                <tr>
                    <th>Liebre</th>
                    <td>100, 0</td>
                    <td>100, 100</td>
                </tr>
            </table>
        </div>
    </div>

    <p>
        Para su comodidad, estas instrucciones están disponibles en todas las fases del experimento.
    </p>

</div>
