{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Pregunta de Entendimiento {{ num_q }} de {{ total_q }}
{% endblock %}

{% block content %}

    {% if num_q == 1 %}
        <p>
            Suponga el escenario donde usted decide cazar un ciervo mientras que el otro participante decide cazar una liebre, ¿Cuál es el beneficio para usted y el otro participante, respectivamente?
        </p>
        <p>
            {% formfield player.training_question_1_my_payoff with label='Mi beneficio sería:' %}
        </p>
        <p>
            {% formfield player.training_question_1_other_payoff with label='El beneficio para el otro participante sería:' %}
        </p>
    {% endif %}

    {% next_button %}

    {% include 'stag_hunt/Instructions.html' %}

{% endblock %}
