{% extends "global/Instructions.html" %}

{% block instructions %}
<p>
    En este estudio vas a ser emparejado al azar con otro participante de forma anónima. Cada participante representa una empresa,
    y cada empresa produce el mismo producto sin ningún coste.
</p>
<p>
    Deberéis elegir un precio individualmente para el producto, de  0 a 100 puntos. Como producís el mismo producto,
    el comprador sólo comprará el producto con el precio más bajo. En caso de empate, comprará a una de las empresas al azar.
    Los beneficios que obtienes serán el precio del producto si es comprado, y 0 si finalmente tu producto no es comprado.
</p>
{% endblock %}
