{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Respuesta
{% endblock %}

{% block content %}



    <p>Usted es el <strong>Participante B</strong>.El Participante A le ofrece un contrato con las siguientes características:</p>

    <table class='table text-center' style='width: auto; margin: auto'>
        <tr><th>Pago Fijo</th><th>Retorno Base</th></tr>
        <tr><td>{{ group.agent_fixed_pay }}</td><td>{{ group.return_share_as_percentage }}%</td></tr>
    </table>

    {% formfield group.contract_accepted with label='¿Acepta o rechaza este contrato?' %}
    <div id=effort>
    {% formfield group.agent_work_effort with label='Por favor, elija su nivel de esfuerzo' %}
    </div>
    <p id=calculate></p>
    <p>
    {% next_button %}
    </p>
    {% include 'principal_agent/Rules.html' %}
    <script>
$(function() {
        $('#effort').hide();
        $('input[type=radio]').change(function(){
            if ($('#id_contract_accepted_1').prop('checked'))
            $('#effort').show();
            else
            $('#effort').hide();
            });
        });
        $('input[type=radio]').change(function(){
            var effort;
            if ($('#id_contract_accepted_1').prop('checked')) {
                effort = $('input[name=agent_work_effort]:checked').val()
                if (!effort) {
                    $('p#calculate').text('');
                    return;
                }
                //  [B's Return Share in %] × [Total Return] + [B's Fixed Payment] – [B's Effort Cost] 
                payoff = {{return_share}} * {{EFFORT_TO_COST}}[effort] / 100 + {{fixed_pay_int}} - {{EFFORT_TO_COST}}[effort];
            } else {
                effort = 'to reject';
                payoff = 10;
            }
            $('p#calculate').text('You will receive '+payoff+' points if you choose '+effort+'.');
        });
    </script>

    {% endblock %}
