{% extends "global/Feedback.html" %}

{% block explanation %}
{% include "principal_agent/Question.html" %}
<p>
<strong>Solución:</strong> Usted recibiría <strong>46 puntos</strong> y el Participante B <strong>34 puntos</strong>.
</p>
<p>
<strong>Explicación:</strong> Si nos fijamos en la tabla, el nivel de esfuerzo 10 equivale a un retorno total de <strong>140</strong>
    y a un coste de este esfuerzo es de <strong>60</strong>. Utilizado <strong>(100% – [Retorno Base en % de B]) × [Retorno Total] – [Pago Fijo de B]</strong>
    podemos saber el pago de A es: <strong>(1 - 0.4) x 140 - 10 = 46</strong>. Para el Participante B tenemos que tener en cuenta que asume el coste,
    <strong>[Retorno Base en % de B] × [Retorno Total] + [Pago Fijo de B] – [Coste de Esfuerzo de B]</strong>, aplicándo el cálculo: <strong>(0.6 x 140) + 10 - 60 = 34</strong>
</p>
{% endblock %}
