{% extends "global/Instructions.html" %}

{% block instructions %}
<p>
    Ha sido emparejado al azar con otro participante de forma anónima. Cada uno recibirá 30 puntos al empezar y será denominado aleatoriamente como "Participante A" o "Participante B". Antes de tomar ninguna decisión, se le mostrará su rol.
</p>
<p>
    El juego funciona de la siguiente manera. El Participante A propone un contrato al Participante B. El contrato incluye 2 cantidades (en puntos) que tiene que ser elegidas de la siguiente forma:
</p>
<ul>
    <li><strong>Pago Fijo</strong>, que puede ser una cantidad de -30 a 30. Ten en cuenta que una cantidad negativa significa que el Participante B tendrá que pagar esa cantidad al Participante A</li>
    <li><strong>Retorno Base</strong>, que puede ser un múltiplo de 10%, como 10%, 20%, … , 90%, or 100%</li>
</ul>

<p>
    Una vez que el Participante A ha presentado su oferta de contrato, el Participante B decide si aceptarla o rechazarla. Si es <strong>rechazada</strong>, el Participante A no recibe nada mientras que el Participante B recibe 10 puntos. Si la oferta es <strong>aceptada</strong> el Participante B elige:
</p>
<ul>
    <li><strong>Nivel de Esfuerzo</strong>, que puede ir de 1 a 10</li>
</ul>
<p>
    Este esfuerzo es costoso solo para el participante B. <i> La siguiente tabla muestra la relación entre el esfuerzo que decida el Participante B, el coste de este esfuerzo y el retorno total resultante:</i>
</p>
<table class=table>
    <tr>
        <th>Nivel de Esfuerzo</th>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
    </tr>
    <tr>
        <th>Coste del Esfuerzo</th>
        <td>0</td>
        <td>4</td>
        <td>8</td>
        <td>12</td>
        <td>18</td>
        <td>24</td>
        <td>32</td>
        <td>40</td>
        <td>50</td>
        <td>60</td>
    </tr>
    <tr>
        <th>Retorno Total</th>
        <td>14</td>
        <td>28</td>
        <td>42</td>
        <td>54</td>
        <td>70</td>
        <td>84</td>
        <td>98</td>
        <td>112</td>
        <td>126</td>
        <td>140</td>
    </tr>
</table>
<p>
Dado que el contrato es aceptado, el Participante A recibirá:

    <br /><strong>(100% – [Retorno Base en % de B]) × [Retorno Total] – [Pago Fijo de B]</strong><br />

y el Participante B recibirá:

    <br /><strong>[Retorno Base en % de B] × [Retorno Total] + [Pago Fijo de B] – [Coste de Esfuerzo de B]</strong>
</p>
<p>
Su beneficio en este experimento será los puntos que reciba en función de sus decisiones y su rol, además de los 30 puntos iniciales.
</p>

{% endblock %}
