{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Solución a la Pregunta de Entendimiento {{ num_q }} de {{ total_q }}
{% endblock %}

{% block content %}

    <p>
        La pregunta era: {{ Constants.training_question_1 }}
    </p>

    <p>
        Ha respondido: {{ player.training_question_1 }}
    </p>

    {% if player.is_training_question_1_correct %}
        <p class="text-success">¡Tu respuesta es corrrecta!.</p>
    {% else %}
        <p class="text-danger">¡Tu respuesta es incorrrecta!. La respuesta correcta es que {{ Constants.feedback1_explanation }}, por favor asegúrese de volver a leer las instrucciones. Sus beneficios dependen de sus elecciones en el experimento.</p>
    {% endif %}

    {% next_button %}

    {% include 'matching_pennies/Instructions.html' %}

{% endblock %}
