
<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }
</style>

<p class="well well-lg" style="padding-top:5px; padding-bottom:15px; margin-top:20px;">

    <h3 class="panel-sub-heading">
        Instructiones
    </h3>

    <p>
        En las siguientes 3 rondas jugará al <i>juego de la moneda</i>.
    </p>

    <p>
        Al principio del experimento, será emparejado al azar y anónimamente con su oponente, con el que jugará las 3 rondas.
    </p>

    <p>
        El juego consiste en lo siguiente:
    <ul>
        <li>Uno de los participantes es el <strong>Jugador 1</strong>, que simplemente elige si prefiere jugar "cara" o "cruz" </li>
        <li>El otro participante es el <strong>Jugador 2</strong>, que tiene que adivinar la elección del Jugador 1</li>
    </ul>
    </p>
    <p>
        ¿Quién gana? ¿Y cuánto?
    </p>
    <ul>
        <li>Si el Jugador 2 adivina de forma <strong>correcta</strong>, recibe 100 puntos y el Jugador 1 nada.</li>
        <li>Si el Jugador 2 adivina de forma <strong>incorrecta</strong>, no recibe nada y el Jugador 1 recibe 100 puntos.</li>
    </ul>

    <p>
        Para su comodidad, estas instrucciones continuarán visibles en todas las etapas del experimento.
    </p>

</div>
