{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Resultado de las Rondas 1–{{ total_rounds }}
{% endblock %}

{% block content %}

    <p>
        En la tabla se muestra un resumen de las rondas.
    </p>

    <table class="table" style="width:400px; margin-top:20px;">
        <tr>
            <th>Ronda</th>
            <th>Jugador y Resultados</th>
            <th>Puntos</th>
        </tr>
        {% for p in player_in_all_rounds %}
            <tr>
                <td>{{ p.subsession.round_number }}</td>
                <td>Usted era el {{ p.role }} y {% if p.is_winner %} ganó {% else %} perdió {% endif %}</td>
                <td>{{ p.payoff }}</td>
            </tr>
        {% endfor %}
    </table>

    <p>
        Ha ganado en las rondas {{ total_payoff }}. Además de esto, se le recompensa su participación en el experimento con {{ Constants.base_points }}.
    </p>

    <p>
        Su beneficio total es de <strong>{{ total_plus_base }}</strong>.
    </p>


    {% next_button %}

    {% include 'matching_pennies/Instructions.html' %}

{% endblock %}
