{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Solución a la Pregunta de Entendimiento {{ num_q }} de {{ total_q }}
{% endblock %}

{% block content %}

    <p>
        {{ Constants.feedback1_question }}
    </p>

    <p>
        Tu respuesta: {{ player.training_question_1 }}
    </p>

    {% if player.is_training_question_1_correct %}
        <p class="text-success">Su respuesta es correcta.</p>
    {% else %}
        <p class="text-danger">Su respuesta es incorrecta. {{ Constants.feedback1_explanation }}.</p>
    {% endif %}

    {% next_button %}

    {% include 'cournot_competition/Instructions.html' %}

{% endblock %}
