
<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }
</style>

<div class="well well-lg" style="padding-top:5px; padding-bottom:15px; margin-top:20px;">

    <h3 class="panel-sub-heading">
        Instrucciones
    </h3>

    <p>
        En este estudio, vas a ser emparejado al azar con otro participante de forma anónima. Cada participante representa una empresa,
        y cada empresa produce el mismo producto sin ningún coste.
    </p>

    <p>
        Cada participante decide de forma anónima la cantidad de producción que quiere hacer, de 0 a {{ max_units_per_player }}.
        Toda la cantidad que produzcas será vendida pero tenga en cuenta que cuantas más unidades produzca menor será su precio de venta.
    </p>


    <p>
        El precio de venta por unidad es:
    </p>

    <ul>
        <strong>Precio por unidad = {{ total_capacity }} – "Unidades producidas por tu empresa" – "Unidades producidas por la otra empresa"</strong>
    </ul>

    <p>
        Tus beneficios, medidos en puntos, son:
    </p>

    <ul>
        <strong>Beneficios= "Precio por unidad" × "Unidades producidas"</strong>
    </ul>

    <p>
        Para su comodidad, estas instrucciones permaneceran visibles durante todo el experimento.
    </p>

</div>
