{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Understanding Question {{ num_q }} of {{ total_q }}
{% endblock %}

{% block content %}

    {% if num_q == 1 %}
        <p>
            {% formfield player.training_question_1 with label="Suponga que en este experimento, la empresa A produce 20 unidades mientras que la B produce 30 unidades, ¿Cuál es el beneficio para la empresa B?" %}
        </p>
    {% endif %}

    {% next_button %}

    {% include 'cournot_competition/Instructions.html' %}

{% endblock %}
