{% extends "global/Instructions.html" %}
{% load staticfiles %}

{% block instructions %}

    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <p>
        En el experimento, vas a ser emparejado anónimamente y al azar con otro participante.
        Cada uno eligirá de forma privada si quiere cooperar con el otro participante.
        Cada uno debe tomar una decisión independiente y simultánea.
        Tus beneficios serán fijados por ambas decisiones como se muestra a continuación:

    </p>
    <p><i>En cada celda, la cantidad (en puntos) a la izquierda es la recompensa para usted y hacia la derecha para el otro participante.</i></p>

    <table class='table table-bordered text-center' style='width: auto; margin: auto'>
        <tr>
            <th colspan=2 rowspan=2></th>
            <th colspan=2>El Otro Participante</th>
        </tr>
        <tr>
            <th>Cooperar</th>
            <th>No cooperar</th>
        </tr>
        <tr>
            <th rowspan=2><span class="rotate90">Usted</span></th>
            <th>Cooperar</th>
            <td>{{Constants.cooperate_amount}}, {{Constants.cooperate_amount}}</td>
            <td>0 puntos, {{Constants.defect_cooperate_amount}}</td>
        </tr>
        <tr>
            <th>No cooperar</th>
            <td>{{Constants.defect_cooperate_amount}}, 0 puntos</td>
            <td>{{Constants.defect_amount}}, {{Constants.defect_amount}}</td>
        </tr>
    </table>

{% endblock %}
