{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Pregunta de Entendimiento {{ num_q }} of {{ total_q }}
{% endblock %}

{% block content %}

    {% if num_q == 1 %}
        <p>
            {% formfield player.training_question_1 with label='Supongamos que Alicia decidió no cooperar y Juan optó por cooperar, ¿Cuántos puntos recibirían Alicia y Juan, respectivamente?' %}
        </p>
    {% endif %}

    {% next_button %}

    {% include 'prisoner/Instructions.html' %}

{% endblock %}
