{% extends "global/Base.html" %}
{% load otree_tags %}

{% block title %}
Solución a la Pregunta de Entendimiento {{ num_q }} de {{ total_q }}
{% endblock %}


{% block content %}
{% if player.training_answer_mine == 52 %}
<p class="text-success">
 {{player.training_answer_mine}} es correcto, sería exáctamente la compensación que recibirías.
</p>
{% else %}
<p class="text-danger">
{{player.training_answer_mine}} es incorrecto.
</p>
{% endif %}
{% if player.training_answer_others == 48 %}
<p class="text-success">
Tu respuesta sobre la compensación del otro viajero, {{player.training_answer_others}}, es correcta.
</p>
{% else %}
<p class="text-danger">
Tu respuesta sobre la compensación del otro viajero, {{player.training_answer_others}}, es incorrecta.
</p>
{% endif %}
<p>
    Suponga que declara que las antigüedades valían 50 puntos mientras que el otro viajero declara que valían 100,
    ¿Qué compensación recibiríais, respectivamente?
</p>
<p>
<strong>Solución</strong>: Usted recibiría <strong>52 puntos</strong> y el otro viajero <strong>48 puntos</strong>.
</p>
<p>
<strong>Explicación</strong>: Ha declarado un valor de las antigüedades diferente al de su compañero de viaje, siendo su
    declaración más baja. Por ello, ambos reciben esta misma cantidad, 50, pero usted recibe una compensación de 2 puntos por
    declarar el valor más bajo y su compañero 2 puntos de sanción por declarar un valor más alto. Entonces usted obtiene
    50 + 2 = 52 puntos y el otro viajero 50 - 2 = 48 puntos.
</p>
<p>
{% next_button %}
</p>
{% include instructions %}
{% endblock %}
