{% extends "global/Instructions.html" %}
{% load otree_tags %}

{% block instructions %}

<p>
    Ha sido emparejado al azar con otro participante de forma anónima. Por favor, imagíne el siguiente escenario.
</p>
<p>
    Tú y otro viajero (el otro participante) acabáis de volver de una isla remota donde habéis comprado justamente las mismas antigüedades.
    Lamentablemente acabas de ver que los responsables del equipaje de la aerolínea se las han arreglado para destrozar todas antigüedades,
    tanto las tuyas como las de tu compañero. La aerolínea  le asegura que le proporcionará una compensación adecuada por los daños, pero
    no sabe el verdadero valor de las angtigüedades.
</p>
<p>
    Le propone lo siguiente: como le dijiste a la aerolínea que tanto tu compañero como tú llevabais los mismos objetos os pide a tu compañero
    y a ti que <strong>valoréis vuestras propias antigüedades</strong> de forma independiente en un rango de {{Constants.min_amount}} a {{Constants.max_amount}}).
</p>
<ul>
    <li>
        Si los dos declaráis la <strong>misma cantidad</strong>, entonces la areolínea os <strong>pagará a cada uno esa cantidad</strong>.
    </li>
    <li>
        Si declaráis <strong>diferentes cantidades</strong>, entonces la aerolínea os pagará una cantidad inferior. Además, <strong>el que haya declarado menor cantidad
        recibirá una <strong>recompensa</strong> de {{Constants.reward}} y el que haya declarado una mayor cantidad recibirá una <strong>penalización</strong> de {{Constants.penalty}}.
    </li>
</ul>
{% endblock %}
